# **Ejercicios de pair programming Módulo 3 Sprint 1**
## **Regresión logística: Lección 1**
### **EDA**

In [6]:
# Tratamiento de datos
# -----------------------------------------------------------------------
import numpy as np
import pandas as pd


# Gráficos
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns


#  Gestión de warnings
# ------------------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

pd.options.display.max_columns = None

import os

**Objetivos**

- Buscar un conjunto de datos a analizar.
Se recomienda que el conjunto de datos a analizar tenga variables numéricas y categóricas, primando que haya más de una variable de tipo numérico.

In [3]:
os.getcwd()

'/mnt/c/Users/User/Desktop/ADALAB/MODULO3'

In [7]:
df = pd.read_csv('promo-d-da-modulo3-sprint1-elisa-lidya/datos/Invistico_Airline.csv')
df.head()

,satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,satisfied,Female,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,2,2,4,2,3,3,0,3,5,3,2,0,0.0
1,satisfied,Male,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,3,0,2,2,3,4,4,4,2,3,2,310,305.0
2,satisfied,Female,Loyal Customer,15,Personal Travel,Eco,2138,0,0,0,3,2,0,2,2,3,3,4,4,4,2,0,0.0
3,satisfied,Female,Loyal Customer,60,Personal Travel,Eco,623,0,0,0,3,3,4,3,1,1,0,1,4,1,3,0,0.0
4,satisfied,Female,Loyal Customer,70,Personal Travel,Eco,354,0,0,0,3,4,3,4,2,2,0,2,4,2,5,0,0.0

- Explicar los datos y las variables disponibles en el conjunto de datos seleccionado.

- Realizar un EDA sencillo poniendo en práctica los conocimientos adquiridos hasta el momento.
Interpretación de los resultados.

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   satisfaction                       129880 non-null  object
 1   Gender                             129880 non-null  object
 2   Customer Type                      129880 non-null  object
 3   Age                                129880 non-null  int64
 4   Type of Travel                     129880 non-null  object
 5   Class                              129880 non-null  object
 6   Flight Distance                    129880 non-null  int64
 7   Seat comfort                       129880 non-null  int64
 8   Departure/Arrival time convenient  129880 non-null  int64
 9   Food and drink                     129880 non-null  int64
 10  Gate location                      129880 non-null  int64
 11  Inflight wifi service              129880 non-null  int64
 12  Inflight entertainment             129880 non-null  int64
 13  Online support                     129880 non-null  int64
 14  Ease of Online booking             129880 non-null  int64
 15  On-board service                   129880 non-null  int64
 16  Leg room service                   129880 non-null  int64
 17  Baggage handling                   129880 non-null  int64
 18  Checkin service                    129880 non-null  int64
 19  Cleanliness                        129880 non-null  int64
 20  Online boarding                    129880 non-null  int64
 21  Departure Delay in Minutes         129880 non-null  int64
 22  Arrival Delay in Minutes           129487 non-null  float64
dtypes: float64(1), int64(17), object(5)
memory usage: 22.8+ MB

In [10]:
for col in df.columns:
    print(df[col].value_counts())

satisfied       71087
dissatisfied    58793
Name: satisfaction, dtype: int64
Female    65899
Male      63981
Name: Gender, dtype: int64
Loyal Customer       106100
disloyal Customer     23780
Name: Customer Type, dtype: int64
39    3692
25    3511
40    3209
44    3104
41    3089
      ...
74      61
76      60
79      52
78      44
85      25
Name: Age, Length: 75, dtype: int64
Business travel    89693
Personal Travel    40187
Name: Type of Travel, dtype: int64
Business    62160
Eco         58309
Eco Plus     9411
Name: Class, dtype: int64
1963    92
1812    88
1639    87
1981    86
1789    86
        ..
4222     1
5049     1
5378     1
5613     1
4260     1
Name: Flight Distance, Length: 5398, dtype: int64
3    29183
2    28726
4    28398
1    20949
5    17827
0     4797
Name: Seat comfort, dtype: int64
4    29593
5    26817
3    23184
2    22794
1    20828
0     6664
Name: Departure/Arrival time convenient, dtype: int64
3    28150
4    27216
2    27146
1    21076
5    20347
0     5945
Name: Food and drink, dtype: int64
3    33546
4    30088
2    24518
1    22565
5    19161
0        2
Name: Gate location, dtype: int64
4    31560
5    28830
3    27602
2    27045
1    14711
0      132
Name: Inflight wifi service, dtype: int64
4    41879
5    29831
3    24200
2    19183
1    11809
0     2978
Name: Inflight entertainment, dtype: int64
4    41510
5    35563
3    21609
2    17260
1    13937
0        1
Name: Online support, dtype: int64
4    39920
5    34137
3    22418
2    19951
1    13436
0       18
Name: Ease of Online booking, dtype: int64
4    40675
5    31724
3    27037
2    17174
1    13265
0        5
Name: On-board service, dtype: int64
4    39698
5    34385
3    22467
2    21745
1    11141
0      444
Name: Leg room service, dtype: int64
4    48240
5    35748
3    24485
2    13432
1     7975
Name: Baggage handling, dtype: int64
4    36481
3    35538
5    27005
2    15486
1    15369
0        1
Name: Checkin service, dtype: int64
4    48795
5    35916
3    23984
2    13412
1     7768
0        5
Name: Cleanliness, dtype: int64
4    35181
3    30780
5    29973
2    18573
1    15359
0       14
Name: Online boarding, dtype: int64
0      73356
1       3682
2       2855
3       2535
4       2309
       ...
366        1
569        1
419        1
411        1
320        1
Name: Departure Delay in Minutes, Length: 466, dtype: int64
0.0       72753
1.0        2747
2.0        2587
3.0        2442
4.0        2373
          ...
391.0         1
1584.0        1
422.0         1
333.0         1
500.0         1
Name: Arrival Delay in Minutes, Length: 472, dtype: int64

In [12]:
df.isnull().sum()

satisfaction                           0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Seat comfort                           0
Departure/Arrival time convenient      0
Food and drink                         0
Gate location                          0
Inflight wifi service                  0
Inflight entertainment                 0
Online support                         0
Ease of Online booking                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Cleanliness                            0
Online boarding                        0
Departure Delay in Minutes             0
Arrival Delay in Minutes             393
dtype: int64

In [13]:
df.isnull().sum()*100 / df.shape[0]

satisfaction                         0.000000
Gender                               0.000000
Customer Type                        0.000000
Age                                  0.000000
Type of Travel                       0.000000
Class                                0.000000
Flight Distance                      0.000000
Seat comfort                         0.000000
Departure/Arrival time convenient    0.000000
Food and drink                       0.000000
Gate location                        0.000000
Inflight wifi service                0.000000
Inflight entertainment               0.000000
Online support                       0.000000
Ease of Online booking               0.000000
On-board service                     0.000000
Leg room service                     0.000000
Baggage handling                     0.000000
Checkin service                      0.000000
Cleanliness                          0.000000
Online boarding                      0.000000
Departure Delay in Minutes           0.000000
Arrival Delay in Minutes             0.302587
dtype: float64

In [15]:
df.duplicated().sum()

0

In [16]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,129880.0,39.427957,15.119360,7.0,27.0,40.0,51.0,85.0
Flight Distance,129880.0,1981.409055,1027.115606,50.0,1359.0,1925.0,2544.0,6951.0
Seat comfort,129880.0,2.838597,1.392983,0.0,2.0,3.0,4.0,5.0
Departure/Arrival time convenient,129880.0,2.990645,1.527224,0.0,2.0,3.0,4.0,5.0
Food and drink,129880.0,2.851994,1.443729,0.0,2.0,3.0,4.0,5.0
Gate location,129880.0,2.990422,1.305970,0.0,2.0,3.0,4.0,5.0
Inflight wifi service,129880.0,3.249130,1.318818,0.0,2.0,3.0,4.0,5.0
Inflight entertainment,129880.0,3.383477,1.346059,0.0,2.0,4.0,4.0,5.0
Online support,129880.0,3.519703,1.306511,0.0,3.0,4.0,5.0,5.0
Ease of Online booking,129880.0,3.472105,1.305560,0.0,2.0,4.0,5.0,5.0
On-board service,129880.0,3.465075,1.270836,0.0,3.0,4.0,4.0,5.0
Leg room service,129880.0,3.485902,1.292226,0.0,2.0,4.0,5.0,5.0
Baggage handling,129880.0,3.695673,1.156483,1.0,3.0,4.0,5.0,5.0
Checkin service,129880.0,3.340807,1.260582,0.0,3.0,3.0,4.0,5.0
Cleanliness,129880.0,3.705759,1.151774,0.0,3.0,4.0,5.0,5.0
Online boarding,129880.0,3.352587,1.298715,0.0,2.0,4.0,4.0,5.0
Departure Delay in Minutes,129880.0,14.713713,38.071126,0.0,0.0,0.0,12.0,1592.0
Arrival Delay in Minutes,129487.0,15.091129,38.465650,0.0,0.0,0.0,13.0,1584.0

In [17]:
df.describe(include='object').T

                 count unique              top    freq
satisfaction    129880      2        satisfied   71087
Gender          129880      2           Female   65899
Customer Type   129880      2   Loyal Customer  106100
Type of Travel  129880      2  Business travel   89693
Class           129880      3         Business   62160

In [ ]:
df.select_dtypes