# **Ejercicios de pair programming Módulo 3 Sprint 1**
## **Regresión lineal: Lección 10**
### **Regresión lineal: Métricas**

---

In [1]:
# Tratamiento de datos
# -----------------------------------------------------------------------
import numpy as np
import pandas as pd

# Gráficos
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

#  Modelado y evaluación
# -----------------------------------------------------------------------------
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

# Para navegar entre directorios
# -----------------------------
import os

plt.rcParams["figure.figsize"] = (10,8)

# Para evitar que salgan los warnings en jupyter
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings('ignore')

pd.options.display.max_columns = None

En el pair programming anterior creastéis vuestro primer modelo de machine learning usando la regresion Lineal. Es el momento, que con vuestros datos evaluéis si es bueno haciendo predicciones. Los objetivo de este pairprogramming son:

In [2]:
os.getcwd()

'/mnt/c/Users/lidya/Documents/Nuestros documentos/Documentos de Lidya/Estudios/Adalab/modulos/modulo3/pair_programming/promo-d-da-modulo3-sprint1-elisa-lidya/regresion-lineal'

In [3]:
os.chdir('/mnt/c/Users/lidya/Documents/Nuestros documentos/Documentos de Lidya/Estudios/Adalab/modulos/modulo3/pair_programming/promo-d-da-modulo3-sprint1-elisa-lidya/regresion-lineal')

In [4]:
df_socio = pd.read_csv('../datos/esperanza_vida_transformado.csv', index_col=0)
df_socio.head(2)

,population_in_millions,population_density,urban_population_y,gdp_per_capita,health_total_expenditure,health_care_index,quantity_of_physicians,quality_of_life_index,purchasing_power_index,safety_index,pollution_index,pop_using_improved_drinking_water,life_expectancy_at_birth_total_bc,region_CentralAmerica,region_EasternAsia,region_EasternEurope,region_NorthernAfrica,region_NorthernAmerica,region_NorthernEurope,region_Oceania,region_South-easternAsia,region_SouthAmerica,region_SouthernAfrica,region_SouthernAsia,region_SouthernEurope,region_WesternAsia,region_WesternEurope
country,,,,,,,,,,,,,,,,,,,,,,,,,,,
Argentina,-0.178879,-0.273196,1.103154,-0.439011,-1.075299,0.742566,3,0.131610,-0.436682,-1.655219,0.057166,0.474870,1.596496e+11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
Australia,-0.262734,-0.283298,0.771296,1.362030,0.630170,0.837385,2,1.015861,1.027351,-0.217071,-1.285658,0.710275,2.611737e+11,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

 - Calculéis las métricas para vuestro modelo.

In [5]:
# Volvemos a hacer la regresión del pair anterior.

y = df_socio['life_expectancy_at_birth_total_bc']
x = df_socio.drop('life_expectancy_at_birth_total_bc', axis=1)

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 42)

lr = LinearRegression(n_jobs = -1)

lr.fit(x_train, y_train)

y_predict_train = lr.predict(x_train)
y_predict_test = lr.predict(x_test)

df_train = pd.DataFrame({'real' : y_train, 'predicted' : y_predict_train, 'set' : ['train']* len(y_train)})
df_test = pd.DataFrame({'real' : y_test, 'predicted' : y_predict_test, 'set' : ['test']* len(y_test)})

resultado = pd.concat([df_train, df_test], axis=0)

resultado.head()

                     real     predicted    set
country
Brazil       1.478254e+11  1.527576e+11  train
Israel       2.622094e+11  2.482658e+11  train
Belgium      2.414933e+11  2.428855e+11  train
Serbia       1.488658e+11  1.834331e+11  train
Netherlands  2.466086e+11  2.522983e+11  train

In [6]:
resultados_metricas = {'MAE': [mean_absolute_error(y_test, y_predict_test), mean_absolute_error(y_train, y_predict_train)],
                'MSE': [mean_squared_error(y_test, y_predict_test), mean_squared_error(y_train, y_predict_train)],
                'RMSE': [np.sqrt(mean_squared_error(y_test, y_predict_test)), np.sqrt(mean_squared_error(y_train, y_predict_train))],
                'R2':  [r2_score(y_test, y_predict_test), r2_score(y_train, y_predict_train)],
                 "set": ["test", "train"], 
                 "modelo": ["LinearRegression", "LinearRegression"]}

df_resultados = pd.DataFrame(resultados_metricas)

df_resultados

            MAE           MSE          RMSE        R2    set            modelo
0  2.945511e+10  1.502528e+21  3.876246e+10  0.399098   test  LinearRegression
1  1.214134e+10  2.415994e+20  1.554347e+10  0.940180  train  LinearRegression

 - Discutid los resultados de las métricas y extraed conclusiones.

~~~

Vamos a analizar las métricas por tipo:

- R2: Podemos observar que el R2 del conjunto de entrenamiento más que duplica el R2 del conjunto del test, lo que puede sugerir que el modelo sufre un problema de *overfitting*.

- MAE, MSE, RMSE: Estas tres métricas tienen valores bastante bajos, casi 0, y son muy similares en los tres casos para los dos conjuntos de datos. Aún así podemos comprobar, por ejemplo, que el RMSE del test sigue siendo más del doble que el del train. 

- Podemos ver en general que las métricas se relacionan de forma más o menos estable en sus diferencias. 

~~~

 - Guardad los resultados de las métricas en un csv para usarlo más adelante.

In [7]:
df_resultados.to_csv("../datos/resultados_rl.csv")